@use "../../utilities" as v;

.card {
  background-color: v.$bg-white;
  border-radius: 8px;
  display: flex;
  margin-bottom: 40px;
  width: 100%;
  height: 150px;
  padding: 25px;
  -webkit-box-shadow: v.$box-shadow;
  cursor: pointer;
  transition: all 0.4s ease;

  &.italy {
    cursor: auto;
    transition: none;
  }
  &.italy:hover {
    transform: none;
    background-color: v.$bg-white;

    h2 {
      color: v.$primary-color;
    }

    strong {
      color: v.$active-color;
    }
  }

  &:hover {
    transform: scale(1.03);
    background-color: v.$active-color;

    h2 {
      color: v.$primary-color;
    }

    strong {
      color: v.$bg-white;
    }
  }

  h2 {
    font-size: v.$font-h2;
    color: v.$secondary-color;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  h3 {
    font-size: v.$font-h3;
    font-weight: 600;
    margin-bottom: 5px;
    color: v.$primary-color;
  }

  strong {
    margin-top: 10px;
    color: v.$active-color;
  }

  @include v.lg {
    width: 90%;
    margin-inline: auto;
    margin-bottom: 30px;
    padding: 0;
  }

  @include v.ms {
    width: 100%;
    margin-inline: auto;
    margin-bottom: 20px;
  }
}

.selected {
  border-top: 10px solid v.$active-color;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 25px;
  text-align: left;
}
